


<div class="content" role="main">


  <!-- Resources -->
  <h2>Phone Validator</h2>
  <p>You can enter a phone number directly with country code or choose the country code from the list:</p>

  <div class="card-container mt-3">
    <div class="card">
      <app-country-code-list (countryChange)="changeCountry($event)"></app-country-code-list>
    </div>

    <div class="card">
      <form onSubmit="return false">
        <mat-form-field >
          <mat-label>Phone Number</mat-label>
          <input matInput
                 placeholder="Ex. 14158586273"
                 [formControl]="phoneNumber"
                 type="number">
          <mat-error *ngIf="phoneNumber.hasError('required')">
            Phone number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>

    </div>

  </div>

  <div>
    <button class="submit-btn mt-2"
            mat-stroked-button
            color="primary"
            [disabled]="phoneNumber.invalid || !phoneNumber.dirty"
            (click)="validateNumber()">
      Validate Number
    </button>
  </div>

  <div *ngIf="($validationResult | async) as validationResult"  class="mt-5">
      <div *ngIf="validationResult.success === false || validationResult.valid === false" class="alert alert-danger">
            <span><strong><em class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></em>
                   {{validationResult.success === false ? validationResult?.error?.info : "The phone number you entered is invalid"}}
            </strong></span>
      </div>
    <div class="row justify-content-center ">
      <mat-card *ngIf="validationResult.valid" class="col-md-6 alert alert-light">
          <div class="row">
            <div class="col-md-6"><span><strong> Status:  </strong></span></div> <div class="col-md-6">Valid <em class="fa fa-check-circle"></em></div>
            <div class="col-md-6"><span><strong> Phone Number:  </strong></span></div> <div class="col-md-6">{{validationResult.number}} </div>
            <div class="col-md-6"><span><strong> Local Format:  </strong></span></div> <div class="col-md-6">{{validationResult.local_format}} </div>
            <div class="col-md-6"><span><strong> International Format:</strong></span></div> <div class="col-md-6">{{validationResult.international_format}} </div>
            <div class="col-md-6"><span><strong> Country Prefix:  </strong></span></div> <div class="col-md-6">{{validationResult.country_prefix}} </div>
            <div class="col-md-6"><span><strong> Country Code:  </strong></span></div> <div class="col-md-6">{{validationResult.country_code}} </div>
            <div class="col-md-6"><span><strong> Country Name:  </strong></span></div> <div class="col-md-6">{{validationResult.country_name}} </div>
            <div class="col-md-6"><span><strong> Location:  </strong></span></div> <div class="col-md-6">{{validationResult.location}} </div>
            <div class="col-md-6"><span><strong> Carrier:  </strong></span></div> <div class="col-md-6">{{validationResult.carrier}} </div>
            <div class="col-md-6"><span><strong> Line Type:  </strong></span></div> <div class="col-md-6">{{validationResult.line_type}} </div>
        </div>
      </mat-card>

    </div>
  </div>

  <!-- Footer -->
  <footer class="mt-5">
    <a href="https://github.com/AhmedBenyahia/PhoneValidatorAngular" target="_blank" rel="noopener"> Check The project in GitHub.
    </a>
    <a href="https://github.com/AhmedBenyahia/PhoneValidatorAngular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
  </footer>

  <img class="background" src="assets/img/296469.svg" alt="" >

</div>
